body {
  text-align: center;
}

h1 {
  background-color: cornflowerblue;
}

#question-div-style {
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid darkgrey;
  border-radius: 5px;
  background-color: thistle;
}

#question-style {
  font-size: large;
  font-weight: bold;
  color: darkblue;
}

#buttons-row-style {
  margin: 20px 0px;
}

button {
  font-size: medium;
  padding: 10px 30px;
  font-weight: bold;
  background-color: rgb(6, 114, 6);
  margin: auto 10px;
  color: aliceblue;
}

table {
  margin: auto;
  text-align: left;
  font-weight: bold;
  color: rgb(70, 56, 163);
}

.p-style {
  font-size: large;
  font-weight: bold;
}

.result-title {
  text-decoration: underline;
}

.right-ans-style {
  color: green;
}

.wrong-ans-style {
  color: red;
}
